
.hero{
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,0.5);
    background-image: url(https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666398982_58-mykaleidoscope-ru-p-kulturnii-landshaft-khalshtatt-dakhshtain-65.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-blend-mode:multiply;
}
body{ margin:0}
.polosa{
    width: 70vw;
    display: flex;
}
.box{
    flex:2;
    background-color: rgb(255, 255, 255);
    height: 100px;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    color: black;
    display:flex ;
}
.polosa button{
    background-color: rgb(255, 100, 72);
    color: white;
    flex:1;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border:0;
}
.super_sait{
    position: fixed;
    height: 60px;
    background-color: transparent;
    width: 98vw;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-inline: 1vw;
    align-items: center;
}
a:link {
    color:inherit;
    text-decoration: none;

}
:visited{
    color:rgb(254, 254, 254);
}
nav a:hover{
    border-bottom: solid black 1px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)
}
.button_login{
    background-color: transparent;
    height: 80;
    font-size: inherit;
    font-weight: inherit;
    color: white;
    border: 0px;
}
.menu_box button{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-size: inherit;
    font-weight: normal;
    border: 0px;
    color:inherit;
}
.button_login{
    background-color: transparent;
}

.button_sign_up{
    background-color: rgb(255, 84, 58);
}

.button_login:hover{
    font-weight: bold;
    background-color: transparent;
}

.button_sign_up:hover{
    font-weight: bold;
    background-color: rgb(255, 84, 58);
}

.container{
    display: flex;
    justify-content: space-between;
}

section button{
    border:0px;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #000000;
    font-size: 30px;
    margin: 5px;
    border-radius: 3px;
}
section .right{
    background-color: orangered;
}
section{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top:5vh;
    padding-bottom:5vh;
}
h1{
    font-size:50px;
}
hr{
   margin: 0px;
   border-color:orangered; 
   width: 30vw;
}
.intro_desc{
    display: flex;
    justify-content: space-between;
}
.image_card{
    width: 27vh ;
    height: 48vh ;
    border-radius:10px;
    margin:4vh;

    display: flex;
    align-items: end;
}
#card_0{
    background: url(https://phonoteka.org/uploads/posts/2021-07/1625778786_20-phonoteka-org-p-grecheskii-voin-art-krasivo-21.jpg);
    background-size:cover;
}
#card_1{
    background: url(https://oir.mobi/uploads/posts/2022-07/thumbs/1658207959_5-oir-mobi-p-spartanets-art-5.jpg);
    background-size:cover;
}
#card_2{
    background: url(https://img.razrisyika.ru/kart/128/1200/508150-spartanec-4.jpg);
    background-size:cover;
}
#card_3{
    background: url(https://phonoteka.org/uploads/posts/2021-07/1625778786_20-phonoteka-org-p-grecheskii-voin-art-krasivo-21.jpg);
    background-size:cover;
}
#card_4{
    background: url(https://oir.mobi/uploads/posts/2022-07/thumbs/1658207959_5-oir-mobi-p-spartanets-art-5.jpg);
    background-size:cover;
}
#card_5{
    background: url(https://img.razrisyika.ru/kart/128/1200/508150-spartanec-4.jpg);
    background-size:cover;
}



.bottom_text{
    background-color: rgba(0,0,0,0.5);
    color:white;
    width:100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.image_carousel{
    display: flex;
    transition: 1s;
}

.image_card{
    min-width: 27vh;
    max-width: 27vh;
    height: 48vh ;
    border-radius:10px;
    margin:4vh;
    background-size: cover;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: flex-end;
    transition:1s;
}

::-webkit-scrollbar{
    display: none;
}

.image_card:first-child{
    margin-left:0;
}

.bg_text{
    width:27vh;
    position:absolute;
    transition: 1s;
    opacity:0;
}
.image_card:hover{
    transform: translateY(-50px);    
}

.image_card:hover .bg_text{
    transform: translateY(50px);
    opacity:1;    
}

.bottom_form{
    border: 1px gray solid;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 0 20vw 0 20vw;
    display:flex;
    align-items: center;
}

#bf_desc,
#bf_input{
    flex:2;
}
.bottom_form button{
    flex:1;
}