
.hero{
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,0.5);
    background-image: url(https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666398982_58-mykaleidoscope-ru-p-kulturnii-landshaft-khalshtatt-dakhshtain-65.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-blend-mode:multiply;
}
body{ margin:0}
.polosa{
    width: 70vw;
    display: flex;
}
.box{
    flex:2;
    background-color: rgb(53, 167, 161);
    height: 100px;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    justify-content: center;
    display:flex ;

}
.polosa button{
    background-color: coral;
    color: white;
    flex:1;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border:0;
}
.super_sait{
    position: fixed;
    height: 60px;
    background-color: transparent;
    width: 98vw;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-inline: 1vw;
    align-items: center;
}
nav a:link {
    color:yellowgreen;
    text-decoration: none;
}
nav a:visited{
    color:indianred;
}
nav a:hover, nav a:active{
    text-decoration: underline;
}

.menu_box button{
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: inherit; 
    font-weight: inherit;
    color: white;
    border: 0px;
}

.button_login{
    background-color: transparent;
}

.button_sign_up{
    background-color: brown;
}

.button_login:hover{
    background-color: transparent;
    border: solid white 1px;
    transition: 1s;
}

.button_sign_up:hover{
    background-color: rgb(129, 31, 31);
    transition: 1s;
}
.section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    color:black;

}

.container{
    display: flex;
    justify-content: space-between;
}
hr{
    border: solid 1px brown;
    width: 30vw;
}
.button_cont{
    display: flex;
    align-items: end;
    padding-right: 2vw;
}

.button_cont button{
    width: 50px;
    height: 50px;
    color:white;
    background-color: black;
    font-size: 30px;
    margin:5px;
    border-radius:5px;
    border: 0px;
}
