::-webkit-scrollbar{
    display: none;
}
.classroot{
    position: fixed;
    height: 60px;
    background-color:transparent;
    width: 98vw;
    padding-inline: 1vw;
    color: red;
    font-size: 15px;
    display: flex;
    justify-content: space-between;

}
a:link, a:visited{
    color:inherit;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
body{
    margin:0px;
}
.hero{
    height:100vh;
    width:100vw; 
    background-size:cover;
    background-repeat:no-repeat;
    background-position: bottom center;
    background-image: url(https://img1.akspic.ru/attachments/originals/6/8/5/3/5/153586-windows-windows_10-windows_8_1-microsoft_windows-rtm-1920x1200.jpg);
}
.likvidirovanie{
    width: 70vw;
    display: flex;
}
.box{
    flex:2;
    background-color: blue;
    height: 100px;
    align-items: center;
    color:black;
    display:flex;
}
.likvidirovanie button{
    background-color: darkblue;
    color:aqua;
    flex:1;

    border:0px;
}
