.box{
    flex:2;
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;     
    color:black;
    flex-direction: column;
}

.top_menu{
   display: fixed;
   height: 60px;
   background-color:transparent;
   width: 98vw;
   color:white;
   justify-content: space-between;
   padding-inline: 1vw;
   align-items: center;
}
.polosa{
    width: 70vw;
    display: flex;
}
.polosa button{
   background-color: red ;
   color:  white;
   
}

nav a:visited{
    color:indianred;
    }
    nav a:hover, nav a:active{
        border-bottom: solid black 2px;
        transition: ease-out 1s;

        }

        .menu_box button{
            height: 30px;
            width: 100px;
            font-size: inherit;
            font-weight: normal;
            color:white;
            border: 0px;

            }

            .button_login{
                background-color: transparent;

                }

                .button_sing_up{
                    background-color: brown;

                    }

                    .button_sing_up:hover{
                        font-weight: bold;
                        border: solid white 1px;
                        transition: 1s;

                        }
      .section{
      padding-top: 5vh;
      padding-left:5vw;
      display: flex;
      align-items: end;
      padding-right: 2vw;
      }